<!-- Poner una página de entrada que explique las reglas y de paso al core del juego-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale = 1" />
        <title>Inicio</title>

        <!-- Link a Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="home">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="autor">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="opciones">Juego</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
            <div class="text-center">
              <div id="encabezado"> 
                  <h1> Parchis </h1> 
              </div>

              <div id="descripcion">
                  <a align="justify"> Se trata de un juego de 2 a 4 personas formado por "casas" de diferentes colores: amarillo, rojo, verde y azul dentro de un tablero característico de 68 casillas. </a>
                  <br>
                  <aalign="justify"> Cada jugador dispone de 4 fichas del mismo color que su “casa” y dos dados. El objetivo del juego consiste en llevar todas las fichas desde su casa hasta la meta recorriendo todo el circuito, 
                      intentando “comerse” o capturar el resto de fichas en el camino. Gana el primer jugador que consiga meter todas sus fichas en la meta. </a>
              </div>
              <br></br>
            </div>
          </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>


